body {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	background: #000;
	margin: 0;
	padding:0;
	font-size : 13px;
	color : #fff;
}
#header {
	background: url(images/b_bg.jpg) repeat-x;
	width: 700px;
	height: 100px;
	color: #fff;
}
.headerText {
	background: none;
	font-size: 40px;
	text-align: center;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	color: #fff;
	font-weight: bold;
}
DIV.center {
	text-align: center;
}
.menu {
	display: block;
	background: #84D02E;
	width: 700px;
	color: #fff;
	font-weight: bold;
	padding-top: 8px;
	border-top: 2px dotted #fff;
}
.menu a {
	background: #84D02E;
	color: #fff;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
	text-decoration: none;
}
.menu a:active {
	background: #84D02E;
	color: #fff;
	padding: 3px;
	font-weight: bold;
	text-decoration: none;
}
.menu a:hover {
	background: #fff;
	color: #84D02E;
	padding-top: 3px;
	padding-bottom: 13px;
	padding-left: 3px;		
	padding-right: 3px;
	font-weight: bold;
	text-decoration: underline;
}
#container {
	background: #fff;
	color : #000;
	width: 700px;
	margin-right : auto;
	margin-left : auto;
	text-align : left;
}
#content {
	background: #84D02E;
	color: #000;
	padding-top: 35px;
	padding-right: 25px;
	padding-left: 25px;
}	
#columnR {
	float: right;
	width: 200px;
	margin:0;
	margin-right:0;
	padding:25px;
	background: #fff;
	color: #000;
}
b.black {
	background: none;
	color: #000;
	font-size: 16px;
}
h2.headline {
	background: #fff;
	text-decoration: underline;
	color: #84D02E;
}
h1.title {
	font-weight: bold;
}
#bodytext {
	background: #fff;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding-left : 25px;
	padding-right : 25px;
	text-align : left;
	color: #000;
	padding-top : 5px;
	padding-bottom : 30px;
	margin-bottom: 0;
}
.imageobject {
	float: left;
	background: url(images/jdave.png) no-repeat;
	color: #fff;
	height: 239px;
	width: 300px;
	}
.footer {
	background: url(images/b_bg2.jpg) repeat-x;
	height: 100px;
	width: 700px;
	margin-right : auto;
	margin-left : auto;
	color : #fff;
	padding-top : 5px;
	font-size: 9px;
	text-align : center;
}
.footer a {
	background: none;
	color : #fff;
	padding-left: 2px;
	padding-right: 2px;	
}
